{% extends 'front.html.twig' %}


{% block content %}
    <!-- Top Header -->

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="top-header">
                        <div class="top-header-thumb">
                            <img src={{ asset('img/top-header1.jpg') }} alt="nature">
                        </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 ">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="02-ProfilePage.html">Journal</a>
                                        </li>
                                        <li>
                                            <a href="05-ProfilePage-About.html">À propos</a>
                                        </li>
                                        <li>
                                            <a href="06-ProfilePage.html">Friends</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 ml-auto col-md-5">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="07-ProfilePage-Photos.html" class="active">Album Photo</a>
                                        </li>
                                        <li>
                                            <a href="09-ProfilePage-Videos.html">Videos</a>
                                        </li>
                                        <li>
                                            <div class="more">
                                                <svg class="olymp-three-dots-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-three-dots-icon') }}></use></svg>
                                                <ul class="more-dropdown more-with-triangle">
                                                    <li>
                                                        <a href="#">Report Profile</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Block Profile</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="control-block-button">
                                <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
                                    <svg class="olymp-happy-face-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-happy-face-icon') }}></use></svg>
                                </a>

                                <a href="#" class="btn btn-control bg-purple">
                                    <svg class="olymp-chat---messages-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-chat---messages-icon') }}></use></svg>
                                </a>

                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-settings-icon') }}></use></svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
                                        </li>
                                        <li>
                                            <a href="29-YourAccount-AccountSettings.html">Account Settings</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-header-author">
                            <a href="02-ProfilePage.html" class="author-thumb">
                                <img src={{ asset('img/author-main1.jpg') }} alt="author">
                            </a>
                            <div class="author-content">
                                <a href="02-ProfilePage.html" class="h4 author-name">James Spiegel</a>
                                <div class="country">San Francisco, CA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ... end Top Header -->

    <!-- Partie de l'album !!!!!!! -->

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block responsive-flex">
                    <div class="ui-block-title">
                        <div class="h6 title">Album Photo de James</div>

                        <div class="block-btn align-right">
                            <a href="#" data-toggle="modal" data-target="#create-photo-album" class="btn btn-primary btn-md-2">Créer un Album  +</a>

                        </div>

                        <ul class="nav nav-tabs photo-gallery" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#album-page" role="tab">
                                    <svg class="olymp-albums-icon"><use xlink:href={{ asset("icons/icons.svg#olymp-albums-icon") }}></use></svg>
                                </a>
                            </li>

                        </ul>
                        <div class="more"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane active" id="album-page" role="tabpanel">

                        <div class="photo-album-wrapper">

                            <div class="photo-album-item-wrap col-4-width" >
                                <div class="photo-album-item create-album" data-mh="album-item">

                                    <a href="#" data-toggle="modal" data-target="#create-photo-album" class="  full-block"></a>

                                    <div class="content">

                                        <a href="#" class="btn btn-control bg-primary" data-toggle="modal" data-target="#create-photo-album">
                                            <svg class="olymp-plus-icon"><use xlink:href={{ asset("icons/icons.svg#olymp-plus-icon") }}></use></svg>
                                        </a>

                                        <a href="#" class="title h5" data-toggle="modal" data-target="#create-photo-album">Créer un Album</a>
                                        <span class="sub-title">Cela ne prend que quelques minutes!</span>

                                    </div>

                                </div>
                            </div>

                            <div class="photo-album-item-wrap col-4-width">
                                <div class="photo-album-item" data-mh="album-item">
                                    <div class="photo-item">
                                        <img src={{ asset("img/photo-item2.jpg") }} alt="photo">
                                        <div class="overlay overlay-dark"></div>
                                        <a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
                                    </div>

                                    <div class="content">
                                        <a href="#" class="title h5">South America Vacations</a>

                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="friend-count" data-swiper-parallax="-500">
                                                        <a href="#" class="friend-count-item">
                                                            <div class="title">24</div>
                                                            <div class="title">Photos</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="photo-album-item-wrap col-4-width">
                                <div class="photo-album-item" data-mh="album-item">
                                    <div class="photo-item">
                                        <img src={{ asset("img/photo-album1.jpg") }} alt="photo">
                                        <div class="overlay overlay-dark"></div>
                                        <a href="#" data-toggle="modal" data-target="#open-photo-popup-v1" class="  full-block"></a>
                                    </div>

                                    <div class="content">
                                        <a href="#" class="title h5">Photoshoot Summer 2016</a>

                                        <div class="swiper-container" data-slide="fade">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="friend-count" data-swiper-parallax="-500">
                                                        <a href="#" class="friend-count-item">
                                                            <div class="title">24</div>
                                                            <div class="title">Photos</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="photo-album-item-wrap col-4-width">
                                <div class="photo-album-item" data-mh="album-item">
                                    <div class="photo-item">
                                        <img src={{ asset("img/photo-album2.jpg") }} alt="photo">
                                        <div class="overlay overlay-dark"></div>
                                        <a href="#" data-toggle="modal" data-target="#open-photo-popup-v1" class="  full-block"></a>
                                    </div>

                                    <div class="content">
                                        <a href="#" class="title h5">Amazing Street Food</a>

                                        <div class="swiper-container" data-slide="fade">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="friend-count" data-swiper-parallax="-500">
                                                        <a href="#" class="friend-count-item">
                                                            <div class="title">24</div>
                                                            <div class="title">Photos</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="photo-album-item-wrap col-4-width">
                                <div class="photo-album-item" data-mh="album-item">
                                    <div class="photo-item">
                                        <img src={{ asset("img/photo-album3.jpg") }} alt="photo">
                                        <div class="overlay overlay-dark"></div>
                                        <a href="#" data-toggle="modal" data-target="#open-photo-popup-v1" class="  full-block"></a>
                                    </div>

                                    <div class="content">
                                        <a href="#" class="title h5">Graffiti & Street Art</a>

                                        <div class="swiper-container" data-slide="fade">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="friend-count" data-swiper-parallax="-500">
                                                        <a href="#" class="friend-count-item">
                                                            <div class="title">24</div>
                                                            <div class="title">Photos</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Fin Partie de l'album-->

{% endblock %}

