{% extends 'front.html.twig' %}

{% block content %}

    <!-- Top Header -->

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="top-header">
                        <div class="top-header-thumb">
                            <img src={{ asset('img/top-header1.jpg') }} alt="nature">
                        </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 ">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="02-ProfilePage.html">Journal</a>
                                        </li>
                                        <li>
                                            <a href="05-ProfilePage-About.html" class="active">À propos</a>
                                        </li>
                                        <li>
                                            <a href="06-ProfilePage.html">Friends</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 ml-auto col-md-5">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="07-ProfilePage-Photos.html">Album Photo</a>
                                        </li>
                                        <li>
                                            <a href="09-ProfilePage-Videos.html">Videos</a>
                                        </li>
                                        <li>
                                            <div class="more">
                                                <svg class="olymp-three-dots-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-three-dots-icon') }}></use></svg>
                                                <ul class="more-dropdown more-with-triangle">
                                                    <li>
                                                        <a href="#">Report Profile</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Block Profile</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="control-block-button">
                                <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
                                    <svg class="olymp-happy-face-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-happy-face-icon') }}></use></svg>
                                </a>

                                <a href="#" class="btn btn-control bg-purple">
                                    <svg class="olymp-chat---messages-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-chat---messages-icon') }}></use></svg>
                                </a>

                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-settings-icon') }}></use></svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
                                        </li>
                                        <li>
                                            <a href="29-YourAccount-AccountSettings.html">Account Settings</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-header-author">
                            <a href="02-ProfilePage.html" class="author-thumb">
                                <img src={{ asset('img/author-main1.jpg') }} alt="author">
                            </a>
                            <div class="author-content">
                                <a href="02-ProfilePage.html" class="h4 author-name">James Spiegel</a>
                                <div class="country">San Francisco, CA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Top Header -->

    <div class="container">
        <div class="row">
            <div class="col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Loisirs et Centres d'interets</h6>
                    </div>
                    <div class="ui-block-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">Loisirs:</span>
                                        <span class="text">I like to ride the bike to work, swimming, and working out. I also like
								reading design magazines, go to museums, and binge watching a good tv show while it’s raining outside.
							</span>
                                    </li>
                                    <li>
                                        <span class="title">Émissions de télévision préférées:</span>
                                        <span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
                                    </li>
                                    <li>
                                        <span class="title">Films préférés:</span>
                                        <span class="text">Idiocratic, The Scarred Wizard and the Fire Crown,  Crime Squad, Ferrum Man. </span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">Groupes de musique / Artistes préférés:</span>
                                        <span class="text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</span>
                                    </li>
                                    <li>
                                        <span class="title">Livres préférés:</span>
                                        <span class="text">The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings, Amongst Gods, The Oracle, A Tale of Air and Water.</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Scolarite -->
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Scolarité</h6>
                    </div>
                    <div class="ui-block-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">The New College of Design</span>
                                        <span class="date">2001 - 2006</span>
                                        <span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
                                    </li>
                                    <li>
                                        <span class="title">Rembrandt Institute</span>
                                        <span class="date">2008</span>
                                        <span class="text">Five months Digital Illustration course. Professor: Leonardo Stagg.</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">Digital Design Intern</span>
                                        <span class="date">2006-2008</span>
                                        <span class="text">Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with the clients.</span>
                                    </li>
                                    <li>
                                        <span class="title">UI/UX Designer</span>
                                        <span class="date">2008-2013</span>
                                        <span class="text">UI/UX Designer for the “Daydreams” agency. </span>
                                    </li>
                                    <li>
                                        <span class="title">Senior UI/UX Designer</span>
                                        <span class="date">2013-Now</span>
                                        <span class="text">Senior UI/UX Designer for the “Daydreams” agency. I’m in charge of a ten person group, overseeing all the proyects and talking to potential clients.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Emploi -->
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Emploi</h6>
                    </div>
                    <div class="ui-block-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">The New College of Design</span>
                                        <span class="date">2001 - 2006</span>
                                        <span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
                                    </li>
                                    <li>
                                        <span class="title">Rembrandt Institute</span>
                                        <span class="date">2008</span>
                                        <span class="text">Five months Digital Illustration course. Professor: Leonardo Stagg.</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">Digital Design Intern</span>
                                        <span class="date">2006-2008</span>
                                        <span class="text">Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with the clients.</span>
                                    </li>
                                    <li>
                                        <span class="title">UI/UX Designer</span>
                                        <span class="date">2008-2013</span>
                                        <span class="text">UI/UX Designer for the “Daydreams” agency. </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Informations Personelle</h6>
                    </div>
                    <div class="ui-block-content">
                        <ul class="widget w-personal-info">
                            <li>
                                <span class="title">Description:</span>
                                <span class="text">Hi, I’m James, I’m 36 and I work as a Digital Designer for the
								“Daydreams” Agency in Pier 56
							</span>
                            </li>
                            <li>
                                <span class="title">Date de Naissance:</span>
                                <span class="text">December 14th, 1980</span>
                            </li>
                            <li>
                                <span class="title">Lieu de Naissance:</span>
                                <span class="text">Austin, Texas, USA</span>
                            </li>
                            <li>
                                <span class="title">Sexe:</span>
                                <span class="text">Male</span>
                            </li>
                            <li>
                                <span class="title">Vit en:</span>
                                <span class="text">San Francisco, California, USA</span>
                            </li>
                            <li>
                                <span class="title">Emploi:</span>
                                <span class="text">UI/UX Designer</span>
                            </li>
                            <li>
                                <span class="title">Date de C. compte:</span>
                                <span class="text">April 31st, 2014</span>
                            </li>
                            <li>
                                <span class="title">Email:</span>
                                <span class="text">jspiegel@yourmail.com</span>
                            </li>
                            <li>
                                <span class="title">Numéro de Téléphone:</span>
                                <span class="text">(044) 555 - 4369 - 8957</span>
                            </li>
                            <li>
                                <span class="title">Religion:</span>
                                <span class="text">-</span>
                            </li>
                        </ul>

                        <div class="widget w-socials">
                            <h6 class="title">Autres réseaux sociaux:</h6>
                            <a href="https://www.facebook.com/achraf.abdennadher.5" class="social-item bg-facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                Facebook
                            </a>
                            <a href="#" class="social-item bg-twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                Twitter
                            </a>
                            <a href="#" class="social-item bg-dribbble">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                Dribbble
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

