{% extends 'front.html.twig' %}

{% block css %}
<style>
    #lstg1{height:150px; width:auto;}
    #lstg1{overflow:hidden; overflow-y:scroll;}
    #lstg1 > li{ color: orangered;}
</style>
{% endblock %}

{% block content %}

    <!-- Your Account Personal Information -->

    <div class="container">
        <div class="row">
            <div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Centres d'interets et Loisir</h6>
                    </div>
                    <div class="ui-block-content">
                        <form>
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating">
                                        <label >Films préférés:</label>
                                        <ul id="lstg1" class="list-group" >
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                    <a href="#" class="add-field">
                                        <svg class="olymp-plus-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-plus-icon') }}></use></svg>
                                        <span>Add Education Field</span>
                                    </a>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Favourite TV Shows</label>
                                        <textarea class="form-control" placeholder=""  >Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</textarea>
                                    </div>
                                    <a href="#" class="add-field">
                                        <svg class="olymp-plus-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-plus-icon') }}></use></svg>
                                        <span>Add Education Field</span>
                                    </a>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Favourite Movies</label>
                                        <textarea class="form-control" placeholder=""  >Idiocratic, The Scarred Wizard and the Fire Crown,  Crime Squad, Ferrum Man. </textarea>
                                    </div>
                                    <a href="#" class="add-field">
                                        <svg class="olymp-plus-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-plus-icon') }}></use></svg>
                                        <span>Add Education Field</span>
                                    </a>

                                    <button class="btn btn-secondary btn-lg full-width">Cancel</button>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Favourite Music Bands / Artists</label>
                                        <textarea class="form-control" placeholder=""  >Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</textarea>
                                    </div>
                                    <a href="#" class="add-field">
                                        <svg class="olymp-plus-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-plus-icon') }}></use></svg>
                                        <span>Add Education Field</span>
                                    </a>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Favourite Books</label>
                                        <textarea class="form-control" placeholder=""  >The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings, Amongst Gods, The Oracle, A Tale of Air and Water.</textarea>
                                    </div>
                                    <a href="#" class="add-field">
                                        <svg class="olymp-plus-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-plus-icon') }}></use></svg>
                                        <span>Add Education Field</span>
                                    </a>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Favourite Writers</label>
                                        <textarea class="form-control" placeholder=""  >Martin T. Georgeston, Jhonathan R. Token, Ivana Rowle, Alexandria Platt, Marcus Roth. </textarea>
                                    </div>
                                    <a href="#" class="add-field">
                                        <svg class="olymp-plus-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-plus-icon') }}></use></svg>
                                        <span>Add Education Field</span>
                                    </a>


                                    <button class="btn btn-primary btn-lg full-width">Save all Changes</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
                <div class="ui-block">
                    <div class="your-profile">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Votre Profil</h6>
                        </div>

                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Parametres de Profil
                                            <svg class="olymp-dropdown-arrow-icon"><use xlink:href={{ asset('icons/icons.svg#olymp-dropdown-arrow-icon') }}></use></svg>
                                        </a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <ul class="your-profile-menu">
                                        <li>
                                            <a href="28-YourAccount-PersonalInformation.html">Informations Personelles</a>
                                        </li>
                                        <li>
                                            <a href="28-YourAccount-PersonalInformation.html">Gérer Photos</a>
                                        </li>
                                        <li>
                                            <a href="29-YourAccount-AccountSettings.html">Parametres de Compte</a>
                                        </li>
                                        <li>
                                            <a href="30-YourAccount-ChangePassword.html">Modifier le Mot de Passe</a>
                                        </li>
                                        <li>
                                            <a href="31-YourAccount-HobbiesAndInterests.html">Loisirs et Centres d'intérêts</a>
                                        </li>
                                        <li>
                                            <a href="32-YourAccount-EducationAndEmployement.html">Education et Emploi</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="ui-block-title">
                            <a href="33-YourAccount-Notifications.html" class="h6 title">Notifications</a>
                            <a href="#" class="items-round-little bg-primary">8</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Messages</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="35-YourAccount-FriendsRequests.html" class="h6 title">Friend Requests</a>
                            <a href="#" class="items-round-little bg-blue">4</a>
                        </div>
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">FAVOURITE PAGE</h6>
                        </div>
                        <div class="ui-block-title">
                            <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Create Fav Page</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Fav Page Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Your Account Personal Information -->
{% endblock %}

{% block js %}
        <script>
            $( document ).ready(function() {
                $('html, body').scrollTop: $("a.active").offset().top;
            });
        </script>
{% endblock %}

