{% extends 'front.html.twig' %}

{% block content %}


    <!-- Main Header Your Account -->
    <!-- ... end Main Header Your Account -->


    <!-- Your Account Personal Information -->

    <div class="container">
        <div class="row">
            <div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Informations Personelle</h6>
                    </div>
                    <div class="ui-block-content">
                        <form>
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Prénom</label>
                                        <input class="form-control" placeholder="" type="text" value={{ app.user.prenom }}>
                                    </div>

                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse Email</label>
                                        <input class="form-control" placeholder="" type="email" value={{ app.user.email }} disabled >
                                    </div>

                                    <div class="form-group date-time-picker label-floating">
                                        <label class="control-label">Date de Naissance</label>
                                        <input name="datetimepicker" value={{ app.user.dateNaissance|date('d/m/Y') }} >
                                        <span class="input-group-addon">
										<svg class="olymp-month-calendar-icon icon"><use xlink:href={{ asset('icons/icons.svg#olymp-month-calendar-icon') }}></use></svg>
									</span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nom</label>
                                        <input class="form-control" placeholder="" type="text" value={{ app.user.nom }}>
                                    </div>

                                    <div class="form-group label-floating is-select">
                                        <label class="control-label">Sexe</label>
                                        <select class="selectpicker form-control" size="auto">
                                            {% if (app.user.genre == "M") %}
                                            <option value="M" selected>Homme</option>
                                            <option value="F">Femme</option>
                                            {% else %}
                                            <option value="M">Homme</option>
                                            <option value="F" selected>Femme</option>
                                            {% endif %}
                                        </select>
                                    </div>

                                    <div class="form-group label-floating">
                                        <label class="control-label">Numéro de Téléphone</label>
                                        <input class="form-control" placeholder="" type="text" value={{ app.user.tel }}>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating is-select">
                                        <label class="control-label">Pays</label>
                                        <select class="selectpicker form-control" size="auto">
                                            <option value="US">United States</option>
                                            <option value="AU">Australia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating is-select">
                                        <label class="control-label">Ville</label>
                                        <select class="selectpicker form-control" size="auto">
                                            <option value="CA">California</option>
                                            <option value="TE">Texas</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating is-select">
                                        <label class="control-label">Région</label>
                                        <select class="selectpicker form-control" size="auto">
                                            <option value="SF">San Francisco</option>
                                            <option value="NY">New York</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Une petite description de vous</label>
                                        <textarea class="form-control" placeholder="">{{ app.user.apropos }}</textarea>
                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Lieu de Naissance</label>
                                        <input class="form-control" placeholder="" type="text" value={{ app.user.PlaceNaiss }}>
                                    </div>
                                    <div class="form-group label-floating is-select">
                                        <label class="control-label">Religion</label>
                                        <select id="r" class="selectpicker form-control" size="auto">
                                            <option value="I">Islam</option>
                                            <option value="C">Christianisme</option>
                                            <option value="J">Judaïsme</option>
                                            <option value="H">Hindouisme</option>
                                            <option value="B">Bouddhisme</option>
                                        </select>
                                        <div id="dd">

                                        </div>


                                    </div>

                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group with-icon label-floating">
                                        <label class="control-label">Votre Profil Facebook</label>
                                        <input class="form-control" type="text" value="">
                                        <i class="fa fa-facebook c-facebook" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group with-icon label-floating">
                                        <label class="control-label">Votre Profil Twitter</label>
                                        <input class="form-control" type="text" value="">
                                        <i class="fa fa-twitter c-twitter" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group with-icon label-floating">
                                        <label class="control-label">Votre Profil Instagram</label>
                                        <input class="form-control" type="text" value="">
                                        <i class="fa fa-instagram c-dribbble" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-lg full-width">Enregistrer</button>
                                </div>
                                <!--
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <button class="btn btn-secondary btn-lg full-width">Restore all Attributes</button>
                                </div>
                                -->

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
                <div class="ui-block">
                    <div class="your-profile">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Votre Profil</h6>
                        </div>

                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Parametres de Profil
                                            <svg class="olymp-dropdown-arrow-icon"><use xlink:href="icons/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                        </a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <ul class="your-profile-menu">
                                        <li>
                                            <a href="28-YourAccount-PersonalInformation.html">Informations Personelles</a>
                                        </li>
                                        <li>
                                            <a href="28-YourAccount-PersonalInformation.html">Gérer Photos</a>
                                        </li>
                                        <li>
                                            <a href="29-YourAccount-AccountSettings.html">Parametres de Compte</a>
                                        </li>
                                        <li>
                                            <a href="30-YourAccount-ChangePassword.html">Modifier le Mot de Passe</a>
                                        </li>
                                        <li>
                                            <a href="31-YourAccount-HobbiesAndInterests.html">Loisirs et Centres d'intérêts</a>
                                        </li>
                                        <li>
                                            <a href="32-YourAccount-EducationAndEmployement.html">Education et Emploi</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="ui-block-title">
                            <a href="33-YourAccount-Notifications.html" class="h6 title">Notifications</a>
                            <a href="#" class="items-round-little bg-primary">8</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Messages</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="35-YourAccount-FriendsRequests.html" class="h6 title">Friend Requests</a>
                            <a href="#" class="items-round-little bg-blue">4</a>
                        </div>
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">FAVOURITE PAGE</h6>
                        </div>
                        <div class="ui-block-title">
                            <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Create Fav Page</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Fav Page Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"/>
    <script>
        //$('select[name=r]').find('option[value="B"]').attr("selected",true);
        //alert("oooo");
        //alert($("#r option[value='B']").text());
        $(document).ready(function () {
            alert("fefefe");
            $('#dd').append("<p>aaaaaaaaaaaaaaaaaaaaaaa</p>");
        })
        //$('select[name=selector]')
        //var $select = $("select[name='r']");
        //$select.find("option[value='B']").attr("selected",true);
    </script>
    <!-- ... end Your Account Personal Information -->



{% endblock %}

