
{% extends 'front.html.twig' %}

{% block content %}
    <section id="page-title">

        <div class="container clearfix">
            <h1>Events List</h1>
            <span>Showcase of Events in Full Width Layout</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Events</li>
            </ol>
        </div>

    </section><

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div id="posts" class="events small-thumbs">
                    {% for evenement in evenements  %}
                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="{{ evenement.photo }}" alt="Inventore voluptates velit totam ipsa tenetur">
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="#">{{ evenement.titre }}</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><span class="badge badge-warning">Private</span></li>
                                    <li><a href="#"><i class="icon-time"></i> {{ evenement.dateEvenement | date }}</a></li>
                                    <li><a href="#"><i class="icon-map-marker2"></i>{{ evenement.titreCordination }}</a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>{{ evenement.description }}</p>
                                    <a href="#" class="btn btn-danger">Read More</a>
                                    <a href="{{ path('update_evenement',{'id': evenement.id }) }}" class="btn btn-danger">Modifier</a>
                                    <a href="{{ path('delete_evenement',{'id': evenement.id }) }}" class="btn btn-danger">Supprimer</a>

                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>

        </div>

        <!-- Pagination
        ============================================= -->
        <div class="row mb-3">
            <div class="col-12">
                <a href="#" class="btn btn-outline-secondary float-left">&larr; Older</a>
                <a href="#" class="btn btn-outline-dark float-right">Newer &rarr;</a>
            </div>
        </div>
        <!-- .pager end -->

    </section><!-- #content end -->
{% endblock %}